altgraph==0.17.4
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
packaging==24.1
pefile==2023.2.7
pillow==10.3.0
plyer==2.1.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pystray==0.19.5
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==71.0.3
six==1.16.0
urllib3==2.2.2
watchdog==4.0.1
